{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Welcome to my page {% endblock %}

{% block body %}

    <form>

        <div class="container">
            <div class="imgcontainer">
                <img src="{{ asset('build/img_avatar2.c9a1bebd.png') }}" class='avatar'>
            </div>

            {{ form_start(loginForm) }}

            {{ form_row(loginForm.emailAddress) }}
            {{ form_row(loginForm.password) }}

            {{ form_end(loginForm) }}

            <button type="submit">Login</button>

            <div class="btncontainer">
                <button type="button" class="registerbtn">Register</button>
                <button type="button" class="cancelbtn">Forgot Password</button>
            </div>

    </form>
    </div>
{% endblock %}